<h1>{{ vm.home }}</h1>

<div class="row">
	<div class="col-lg-3">
		<div class="input-group">
			<form>
				<input type="text" ng-model="vm.search" class="form-control" placeholder="Search for Artist..."> 
				<span class="input-group-btn">
					<input class="btn btn-default" type="submit" ng-click="vm.list()" value="Search" />
				</span>
			</form>
		</div>
		<!-- /input-group -->
	</div>
	<!-- /.col-lg-6 -->
	<div class="col-lg-9"></div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-8">
		<table ng-show="vm.albums.results" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Artist Name</th>
					<th>Year</th>
					<th>Album Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="album in vm.albums.results">
					<td><a href ng-click="vm.find(album.collectionId)">{{album.collectionId}}</a></td>
					<td>{{album.artistName}}</td>
					<td>{{album.releaseDate | limitTo: 4}}</td>
					<td>{{album.collectionName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-4">
		<table ng-show="vm.albumInfo" class="table">
			<tbody>
				<tr>
					<th class="col-lg-1">Artist Name</th>
					<td class="col-lg-3">{{vm.albumInfo.artistName}}</td>
				</tr>
				<tr>
					<th>Album Name</th>
					<td>{{vm.albumInfo.collectionName}}</td>
				</tr>
				<tr>
					<th>Year</th>
					<td>{{vm.albumInfo.releaseDate | limitTo: 4}}</td>
				</tr>
				<tr>
					<th>Genre</th>
					<td>{{vm.albumInfo.primaryGenreName}}</td>
				</tr>
			</tbody>
		</table>
		<table ng-show="vm.albumTracks" class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Track Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="track in vm.albumTracks">
					<td>{{track.trackNumber}}</td>
					<td>{{track.trackName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<!-- /.row -->